<div class="customer-layout">
  <jhi-customer-header></jhi-customer-header>
  <jhi-customer-search></jhi-customer-search>
  <jhi-menu-navbar></jhi-menu-navbar>
  <jhi-customer-breadcrumb></jhi-customer-breadcrumb>

  <!-- Main content area -->
  <div class="main-wrapper">
    <div class="main-container">
<!--      <aside class="sidebar">-->
<!--        <jhi-sidebar-customer [boxes]="sidebarBoxes"></jhi-sidebar-customer>-->
<!--      </aside>-->

      <main class="content">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
