@import '../../../styles/scss/_variables-base.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-icon-login {
  color: $color-gray-600;
}

.input-text {
  input {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.custom-parent-class {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container {
  transform: translateY(-50%);
}

:host ::ng-deep .login-container {
  min-height: 100vh;
  width: 100%;
  background-color: $color-white;
  padding: 0 150px;

  .left-container {
    z-index: 1;
    padding: 0 50px;

    .form-title {
      font-size: 32px;
      font-weight: 600;
    }

    .custom-auth-input {
      height: 56px;
      width: min(690px, 100%);
      position: relative;
      display: flex;
      align-items: center;

      .prefix-icon {
        position: absolute;
        pointer-events: none;
        left: 16px;

        svg {
          width: 24px;
          height: 24px;
        }
      }

      label {
        position: absolute;
        pointer-events: none;
        left: 48px;
        transition: all 0.3s ease;
        top: 50%;
        transform: translateY(-50%);
        font-size: $font-size-md;
        color: $color-text-900;
      }

      input {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        border: 1px solid $color-text-400;
        padding: 8px 48px;
        background-color: $color-white;
        caret-color: $color-base;
        color: $color-text-900;

        &:focus,
        &:hover {
          outline: none;
          border: 1px solid $color-base;
        }

        &::placeholder {
          color: transparent;
          transition: all 0.3s ease;
        }
      }

      &:has(input:focus),
      &:has(input:not(:placeholder-shown)),
      &:has(input:-webkit-autofill) {
        label {
          top: 0;
          font-size: $font-size-xs;
          color: $color-text-800;
          left: 16px;
          background-color: $color-white;
          padding: 0 4px;
        }

        input::placeholder {
          color: $color-text-800;
        }
      }

      .show-password {
        position: absolute;
        right: 16px;
        width: 24px;
        height: 24px;
        padding: 0;
        margin: 0;
        border: none;
        outline: none;
        background-color: transparent;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }

    .custom-auth-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: min(690px, 100%);

      .remember-me {
        font-size: $font-size-md;
        color: $color-text-900;
        font-weight: 400;
      }

      .forgot-password {
        font-size: $font-size-md;
        color: $color-text-900;
        text-decoration: underline;

        a {
          font-weight: 400;
        }
      }

      .login-button {
        width: 100%;
        height: 56px;
        border-radius: 8px;
        border: none;
        outline: none;
        background-color: $color-base;
        color: $color-white;
        font-size: $font-size-md;
        font-weight: 600;
      }
    }
  }

  .right-container {
    z-index: 1;
    padding: 0 50px;
    height: 100%;

    svg {
      width: 24px;
      height: 24px;
      path {
        fill: $color-base;
      }
    }

    .footer-title {
      font-size: $font-size-lg;
      font-weight: 600;
      color: $color-base;
    }

    .footer-info {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: $font-size-sm;
      color: $color-text-900;
    }
  }

  .right-bg {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    height: 100%;
    background-color: $color-base-50;
    z-index: 0;
  }
}

.color-base {
  color: $color-base;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 1292px) {
  :host .login-container {
    padding: 0;
  }
}

@media screen and (max-width: 992px) {
  :host .login-container {
    padding: 32px 0;
    height: auto;
    flex-direction: column;
    overflow-y: auto;

    .left-container,
    .right-container {
      padding: 0 16px;
      width: 100% !important;
    }

    .right-container {
      margin-top: 32px;
      div:has(> img) {
        display: none;
      }

      .row {
        justify-content: center;
      }

      .col-12 {
        width: min(690px, 100%) !important;
      }
    }

    .right-bg {
      display: none;
    }

    .d-flex:has(.footer-info) {
      width: 100%;
      align-items: flex-start !important;
      flex-direction: column;
      gap: 0 !important;
    }
  }
}

:host ::ng-deep .slc-company {
  width: 100%;

  .custom-select-container {
    height: 56px;
  }
}
