.title-info {
  color: $color-gray-900;
  font-weight: 400;
  font-size: 1rem;
}

.input-text {
  position: relative;

  input {
    font-size: $font-size-sm;
    color: $color-gray-900;
    font-weight: 400;
    line-height: 140%;
    padding: 9px 16px;
    border: 1px solid $color-gray-400;
    border-radius: 8px;
    outline: none;
    width: 100%;
    height: 100%;

    &:focus,
    &:hover {
      border: 1px solid $color-base;
    }

    &:placeholder-show {
      color: $color-gray-700;
    }
  }
  .error-message {
    font-weight: 500;
    font-size: $font-size-xs;
  }
}

.input-textarea {
  position: relative;

  textarea {
    font-size: $font-size-sm;
    color: $color-gray-900;
    font-weight: 400;
    line-height: 140%;
    padding: 9px 16px;
    border: 1px solid $color-gray-400;
    border-radius: 8px;
    outline: none;
    width: 100%;
    height: 100%;

    &:focus,
    &:hover {
      border: 1px solid $color-blue-500;
    }

    &:placeholder-show {
      color: $color-gray-700;
    }
  }
  .error-message {
    font-weight: 500;
    font-size: $font-size-xs;
  }
}

.input-group-search {
  position: relative;
  border-radius: 8px;
  display: flex;
  align-items: center;
  line-height: 100%;
  gap: 8px;
  height: 50px;

  .icon {
    border: none;
    color: $color-gray-600;
  }

  input {
    font-size: $font-size-sm;
    color: $color-gray-900;
    font-weight: 400;
    line-height: 140%;
    border: 1px solid $color-gray-400;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    padding: 14px 16px;

    &:placeholder-show {
      color: $color-gray-700;
    }

    &:focus {
      border: 1px solid $color-base;
    }
  }

  .btn-search {
    background-color: $color-base;
    border: 1px solid $color-base;
    color: $color-white;
    height: 50px;
    width: 50px;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;

    span {
      svg {
        path {
          width: 20px;
          height: 20px;
          fill: $color-white;
        }
      }
    }
  }
}

.ng-select {
  width: 100%;

  .ng-select-container {
    height: $height-input;
    color: $color-gray-900;
    font-size: $font-size-sm;
    font-weight: 400;
    align-items: center;
    border-radius: 8px;
    border: 1px solid $color-gray-400;
    background: $color-white;
    box-shadow: none;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;

    &:hover {
      border-color: $color-base-500;
    }

    .ng-value {
      font-size: $font-size-sm;
    }

    .ng-value-container {
      padding: 0px 16px;
      align-items: center;
      font-size: $font-size-sm;
    }
  }

  &.ng-select-disabled {
    .ng-select-container {
      pointer-events: none;
    }
  }

  &.ng-select-opened .ng-select-container {
    border-color: $color-base-500;
  }

  .ng-select-container .ng-value-container,
  &.ng-select-multiple .ng-select-container .ng-value-container {
    gap: 4px;
    height: 100%;

    .ng-placeholder,
    .ng-input {
      position: absolute;
      padding: 0;
      top: 50%;
      transform: translateY(-50%);
      left: 12px;
    }

    .ng-input {
      display: flex;
      align-items: center;
      width: calc(100% - 48px);
      caret-color: transparent;

      // input {
      //   padding: 9px 16px !important;
      // }
    }

    input,
    .ng-placeholder,
    .ng-value-label {
      color: $color-gray-700;
      font-size: $font-size-sm;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }

    .ng-input > input {
      color: $color-gray-700;
      height: 26px;
    }
  }

  &.ng-select-multiple .ng-select-container {
    display: flex;
    align-items: flex-start;
    height: auto;
  }

  &.ng-select-multiple .ng-select-container .ng-value-container {
    height: auto;
    padding: 8px 16px;
    min-height: 36px;
  }

  &.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 50%;
    left: 12px;
    width: calc(100% - 48px);
  }

  &.ng-select-opened.ng-select-bottom > .ng-select-container {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &.ng-select-opened.ng-select-top > .ng-select-container {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  &.ng-select-opened .ng-select-container {
    z-index: 1;
  }

  .ng-select-container .ng-value-container .ng-value {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    height: 100%;
    max-height: 22px;
    margin: 0;
    color: $color-gray-800;
    font-size: $font-size-sm;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding: 4px 6px;
    gap: 4px;
    border-radius: 4px;
    background: $color-gray-300;

    .ng-value-label {
      order: 1;
      padding: 0;
      color: $color-gray-800;
      font-size: $font-size-xs;
    }

    .ng-value-icon {
      display: flex;
      align-items: center;
      order: 2;
      border: none;
      color: $color-gray-800;
      font-size: $font-size-md;

      &.left {
        border: none;
      }

      &:hover,
      &:focus {
        color: $color-gray-900;
      }
    }

    .icon-remove {
      padding: 0;

      svg {
        width: 17px;
        height: 17px;
      }
    }
  }

  .ng-value-more {
    display: flex;
    padding: 4px 6px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: $color-blue-100;
    color: $color-blue-600;
    font-size: $font-size-sm;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &.ng-select-multiple.input-select .ng-select-container .ng-value-container .ng-value {
    white-space: wrap;
    height: 100%;
  }

  &.ng-select-disabled > .ng-select-container .ng-value-container .ng-value .ng-value-label {
    color: #333;
  }

  .ng-dropdown-panel {
    top: 100%;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid $color-base-500;
    z-index: 1999;
    background: $color-white;
    overflow: hidden;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);

    &.ng-select-top {
      margin-top: 0;
      margin-bottom: 4px;
    }

    .ng-dropdown-panel-items {
      width: 100%;

      &::-webkit-scrollbar {
        background-color: $color-base-50;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-base-400;
        border-radius: 10px;
        transition: all 0.3s ease;

        &:hover {
          background-color: $color-base-500;
        }
      }
    }

    .ng-option-label,
    .ng-option {
      color: $color-gray-800;
      font-size: $font-size-sm;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }

    .ng-option {
      padding: 6px 16px;

      &.ng-option-selected,
      &.ng-option-marked,
      &.ng-option-selected.ng-option-marked {
        background: $color-base-50;
        border-bottom: none;

        .ng-option-label {
          color: $color-base-500;
          font-weight: 400;
        }
      }
    }
  }

  .ng-arrow-wrapper {
    display: flex;
    width: 36px;
    height: 24px;
    justify-content: center;
    align-items: center;

    .ng-arrow {
      top: 0 !important;
      border: none;
      height: 24px !important;
      width: 24px !important;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M19.9201 8.9502L13.4001 15.4702C12.6301 16.2402 11.3701 16.2402 10.6001 15.4702L4.08008 8.9502' stroke='%23545454' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.2s ease;
    }
  }

  .ng-clear-wrapper {
    display: none;

    .ng-clear {
      font-size: 1.5rem !important;
      line-height: 1% !important;
    }
  }

  &.ng-select-opened .ng-arrow-wrapper .ng-arrow {
    transform: rotate(180deg);
  }

  &.ng-select-multiple {
    .ng-select-container.ng-has-value {
      overflow: visible;

      .ng-value-container {
        max-width: calc(100% - 36px);

        .ng-value {
          max-width: 100%;

          .ng-value-label {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .ng-input input {
          display: none;
        }
      }
    }

    .ng-clear-wrapper,
    .ng-arrow-wrapper {
      height: 24px;
      margin-top: 6px;
    }
  }
}

.box-item {
  &:hover {
    transform: scale(1.02);
    box-shadow: 3px 3px 2px $color-green-100;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: $color-base-50;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $color-base-400;
  border-radius: 10px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-base-500;
}

.text-overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panel-tab {
  border-radius: 6px;
  padding: 6px;
  background: $color-white;

  .nav {
    gap: 2px;
  }

  a.nav-link {
    padding: 8.8px 16px;
    border-radius: 4px;
    background: $color-white;
    color: $color-gray-400;
    font-size: $font-size-md;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    &:hover,
    &.active {
      border-bottom: none;
      background: $color-gray-200;
      color: $color-white;
      font-weight: 600;
    }
  }

  &-custom {
    .nav {
      border-bottom: 2px solid $color-gray-400;
      background: $color-white;
    }

    a.nav-link {
      padding: 12px 14px;
      border-radius: 0;

      &:hover,
      &.active {
        border-bottom: none;
        color: $color-blue-600;
        background: $color-white;
        font-weight: 600;
        border-bottom: 2px solid $color-gray-600;
      }
    }
  }

  &-custom.detail {
    padding: 0;

    .nav {
      border-bottom: 1px solid $color-gray-400;
      gap: 0;
    }

    a.nav-link {
      display: flex;
      width: 199px;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      border-radius: 0;
      padding: 0 0 10px;
      margin-bottom: -1px;
      border-bottom: 1px solid $color-gray-400;
      color: $color-black;

      &:hover,
      &.active {
        color: $color-blue-600;
        border-color: $color-blue-600;
      }
    }
  }
}
